<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title%}{% endblock %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" rel="stylesheet">
        <link href="/static/css/AdminLTE.min.css" rel="stylesheet">
        <link href="/static/css/skins/skin-blue.min.css" rel="stylesheet">
    </head>
    <body class="skin-blue">
        <div class="wrapper">

            {% block header %}
            {% include 'header.html' %}
            {% endblock %}

            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                {% block sidebar %}
                {% include 'sidebar.html' %}
                {% endblock %}
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <aside class="content-wrapper">
                {% block content %}{% endblock %}
            </aside>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/locales/bootstrap-datepicker.ja.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar-full.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.11.8/vue.min.js"></script>

        <script src="/static/js/AdminLTE/app.min.js"></script>
        {% include 'template_script.html' %}
        {% block tail_script %}{% endblock %}
    </body>
</html>
