{% extends "base.html" %}

{% block title%}ダッシュボード{% endblock %}

{% block content %}
{% verbatim %}
<section class="content-header">
    <h1>ダッシュボード</h1>
</section>

<section class="content">

<div class="row">
  <div class="col-md-9">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">借りてる本</h3>
      </div>
      <div class="box-body">
        <div class="table-responsive no-padding">
          <table class="table table-hover"><tbody>
            <tr>
              <th></th>
              <th>タイトル</th>
              <th>書庫</th>
              <th>貸出日</th>
              <th>返却期限</th>
              <th></th>
            </tr>
            <tr>
              <td><img src="https://via.placeholder.com/40x50"></td>
              <td>パーフェクトJavaScript</td>
              <td>後藤研究室</td>
              <td>2017/8/1</td>
              <td>2017/9/1(あと3日)</td>
              <td><button class="btn btn-sm btn-info">コメント</button><br>
                  <button class="btn btn-sm btn-success">返却</button></td>
            </tr>
          </tbody></table>
        </div>
        <div class="overlay"></div>
        <div class="loading-img"></div>
      </div>
    </div>
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">書庫の本(人気順)</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool">書庫へ</button>
        </div>
      </div>
    </div>
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">最近のイベント</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">オススメの本</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool">購入</button>
        </div>
      </div>

    </div>
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">Members</h3>

        <div class="box-tools pull-right">
          <span class="label label-danger">8 New Members</span>
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <ul class="users-list clearfix">
          <li>
            <img src="dist/img/user1-128x128.jpg" alt="User Image">
            <a class="users-list-name" href="#">Alexander Pierce</a>
            <span class="users-list-date">Today</span>
          </li>
          <li>
            <img src="dist/img/user8-128x128.jpg" alt="User Image">
            <a class="users-list-name" href="#">Norman</a>
            <span class="users-list-date">Yesterday</span>
          </li>
          <li>
            <img src="dist/img/user7-128x128.jpg" alt="User Image">
            <a class="users-list-name" href="#">Jane</a>
            <span class="users-list-date">12 Jan</span>
          </li>
        </ul>
        <!-- /.users-list -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-center">View All Users</div>
      <!-- /.box-footer -->
    </div>
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">ご意見・ご要望</h3>
      </div>
    </div>
  </div>
</div>

</section>
{% endverbatim %}
{% endblock %}


{% block scripts %}
{% verbatim %}
<script>
'use strict';

$(function(){
    $.ajax('/api/data/v1/mybook').then(function(data){
        $('.overlay').remove();
        $('.loading-img').remove();

        new Vue({
            el: '#mybooks',
            data: {Items: data}
        });
    });
});


function book_search(evt){
    evt.preventDefault();
    $('#search-result').closest('.box')
      .append('<div class="overlay"></div>')
      .append('<div class="loading-img"></div>');

    var keyword = $('#search input').val();
    $.ajax('/api/info/v1/search', {keyword: keyword}).then(function(data){
        $('.overlay').remove();
        $('.loading-img').remove();
        result_view.$data.Items = _.cloneDeep(data.Items);
        book_data = data.Items;
    });
}


</script>
{% endverbatim %}
{% endblock %}
