{% extends "site_base.html" %}

{% block title%}利用規約{% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}
{% verbatim %}
<div class="row"><div class="col-md-10 col-md-offset-1">
<div class="box">
<div class="box-header with-border">
<h1>サイトについて</h1>
</div>
<div class="box-body">
<h2>labobooks とは？</h2>
labobooks は、Amazonアソシエイト・プログラムから提供される書籍データを利用しながら、書籍の読書履歴を管理することを目的につくられたサイトです。

<h2>Amazon.co.jpアソシエイトに関する表示</h2>
<ul>
当サイト labobooks は、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。</ul>
</div></div></div></div>
{% endverbatim %}
{% endblock %}
