{% extends "base.html" %}

{% block title%}login{% endblock %}

{% block content %}
<div class="margin text-center">
    <span>Sign in using social networks</span>
    <br/>
    <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
    <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
    <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
</div>
{% endblock %}


{% block tail_script %}
{% verbatim %}
{% endverbatim %}
{% endblock %}
