{% extends "base.html" %}

{% block title%}書籍を探す{% endblock %}

{% block content %}
{% verbatim %}
<section class="content-header">
</section>

<section class="content">
<div class="box box-success">
  <div class="box-header">
    <h3 class="box-title">書籍を探す</h3>
  </div>
  <div class="box-body">
    <form id="search" role="form">
      <div class="input-group input-group-sm">
        <input class="form-control input-lg" type="text" placeholder="本のタイトルを入力">
        <span class="input-group-btn">
          <button class="btn btn-info btn-flat" type="submit">Go!</button>
        </span>
      </div>
    </form>
    <br>
    <div id="search-result" class="table-responsive no-padding">
      <table class="table table-hover"><tbody>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>発売日</th>
          <th></th>
        </tr>
        <tr v-for="item in items">
          <td><img v-bind:src="item.small_image_url"></td>
          <td>{{item.title}}</td>
          <td>{{item.authors}}</td>
          <td>{{item.publisher}}</td>
          <td>{{item.publication_date}}</td>
          <td>
            <input class="isbn" type="hidden" v-bind:value="item.isbn">
            <a class="btn btn-default" v-bind:href="item.amazon_url" target="_blank">Amazon</a><br>
            <button v-if="!item.in_my_books" class="btn btn-success book-add">書庫に追加</button>
            <button v-else class="btn btn-success" disabled="disabled">追加済み</button>

          </td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>

</section>
{% endverbatim %}
{% endblock %}


{% block scripts %}
{{ block.super }}
{% verbatim %}
<script type="text/template" id="modal-template">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">書籍を追加</h4>
    </div>

    <form id="add_book_form">
      <div class="modal-body">
        <h3>{{title}}</h3>
        <input type="hidden" class="form-control" id="isbn" value="{{isbn}}">
        <div class="form-group">
          <label>購入日</label>
          <input type="date" class="form-control" id="buy_date" placeholder="購入日">
        </div>
        <div class="form-group">
          <label>購入者</label>
          <input type="text" class="form-control" id="manager" placeholder="管理責任者">
        </div>
        <div class="form-group">
          <label>購入目的</label>
          <input type="text" class="form-control" id="purpose" placeholder="購入目的">
        </div>
        <div class="form-group">
          <label>資金源</label>
          <input type="text" class="form-control" id="money_source" placeholder="資金源">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">追加</button>
      </div>
    </form>
  </div>
</div>
</script>


<script>
'use strict';

var result_view;
var modal_template = $('#modal-template').html();
var book_data;

$(function(){
    result_view = new Vue({
        el: '#search-result',
        data: {items: []}
    });
    init();
    $('#search').on('submit', book_search);
    // $('#search-result').on('click', '.book-add', add_book);
    $('#search-result').on('click', '.book-add', submit_add_book);
    $('#myModal').on('submit', '#add_book_form', submit_add_book);
});

function init(){
  book_search();
}

function book_search(evt){
    if(evt){evt.preventDefault();}
    $('#search-result').closest('.box')
      .append('<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>');

    var keyword = $('#search input').val();
    $xhr('/api/info/v1/search', {keyword: keyword}).then(function(data){
        $('.overlay').remove();
        result_view.items = _.cloneDeep(data.items);
        book_data = data.items;
    });
}

function add_book(evt){
    var isbn = $(this).parent().find('input.isbn').val();
    var book = _.find(book_data, function(o){return o.isbn == isbn});
    $('#myModal').html(Handlebars.compile(modal_template)(book)).modal();
}

function submit_add_book(evt){
    evt.preventDefault();
    var isbn = $(this).parent().find('.isbn').val();
    $.ajax({ 
      type: 'POST',
      url: '/api/data/v1/mybook/',
      headers: { "X-CSRFToken": $.cookie("csrftoken") },
      data: {
          buy_date: $('#buy_date').val(),
          isbn: isbn,
          org: window.location.pathname.split('/')[1], // FIXME
          manager: $('#manager').val(),
          purpose: $('#purpose').val(),
          money_source: $('#money_source').val(),
      }
    });
}


</script>
{% endverbatim %}
{% endblock %}
