{% extends "base.html" %}

{% block title%}書籍を探す{% endblock %}

{% block content %}
{% verbatim %}
<section class="content-header">
</section>

<section class="content">
<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">書籍を探す</h3>
    </div>
    <div class="box-body">
        <form id="search" role="form">
            <div class="input-group input-group-sm">
                <input class="form-control input-lg" type="text" placeholder="本のタイトルを入力">
                <span class="input-group-btn">
                    <button class="btn btn-info btn-flat" type="submit">Go!</button>
                </span>
            </div>
        </form>
        <br>
        <div id="search-result" class="table-responsive no-padding">
            <table class="table table-hover"><tbody>
                <tr>
                    <th></th>
                    <th>タイトル</th>
                    <th>著者</th>
                    <th>出版社</th>
                    <th>発売日</th>
                    <th></th>
                </tr>
                <tr v-repeat="item:Items">
                    <td><img src="{{item.smallImageUrl}}"></td>
                    <td>{{item.title}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.publisherName}}</td>
                    <td>{{item.salesDate}}</td>
                    <td>
                        <input class="isbn" type="hidden" value="{{item.isbn}}">
                        <button class="btn btn-default book-add">追加</button>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>

</section>
{% endverbatim %}
{% endblock %}


{% block tail_script %}
{% verbatim %}
<script type="text/template" id="modal-template">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">書籍を追加</h4>
    </div>
    <div class="modal-body">
        <h3>{{title}}</h3>
        <form>
            <input type="hidden" class="form-control" id="isbn" value="{{isbn}}">
            <div class="form-group">
                <label>購入日</label>
                <input type="date" class="form-control" id="buy_date" placeholder="購入日">
            </div>
            <div class="form-group">
                <label>購入者</label>
                <input type="text" class="form-control" id="manager" placeholder="管理責任者">
            </div>
            <div class="form-group">
                <label>購入目的</label>
                <input type="text" class="form-control" id="purpose" placeholder="購入目的">
            </div>
            <div class="form-group">
                <label>資金源</label>
                <input type="text" class="form-control" id="money_source" placeholder="資金源">
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button id="submit_add_book" type="button" class="btn btn-primary">追加</button>
    </div>
  </div>
</div>
</script>


<script>
'use strict';

var result_view;
var modal_template = $('#modal-template').html();
var book_data;

$(function(){
    result_view = new Vue({
        el: '#search-result',
        data: {Items: []}
    });

    $('#search').on('submit', book_search);
    $('#search-result').on('click', '.book-add', add_book);
    $('#myModal').on('click', '#submit_add_book', submit_add_book);
});


function book_search(evt){
    evt.preventDefault();
    $('#search-result').closest('.box')
      .append('<div class="overlay"></div>')
      .append('<div class="loading-img"></div>');

    var keyword = $('#search input').val();
    $xhr('/api/info/v1/search', {keyword: keyword}).then(function(data){
        $('.overlay').remove();
        $('.loading-img').remove();
        result_view.$data.Items = _.cloneDeep(data.Items);
        book_data = data.Items;
    });
}

function add_book(evt){
    var isbn = $(this).parent().find('input.isbn').val();
    var book = _.find(book_data, function(o){return o.isbn == isbn});
    $('#myModal').html(Hogan.compile(modal_template).render(book)).modal();
}

function submit_add_book(evt){
    var isbn = $('#isbn').val();
    var book = _.find(book_data, function(o){return o.isbn == isbn});
    $.ajax({ 
        type: 'POST',
        url: '/api/data/v1/bookinfo/',
        headers: { "X-CSRFToken": $.cookie("csrftoken") },
        data: {
            isbn: book.isbn,
            title: book.title,
            title_kana: book.titleKana,
            sub_title: book.subTitle,
            sub_title_kana: book.subTitleKana,
            series_name: book.seriesName,
            series_name_kana: book.seriesNameKana,
            author: book.author,
            author_kana: book.authorKana,
            publisher_name: book.publisherName,
            book_size: book.size,
            item_caption: book.itemCaption,
            sales_date: Date.create(book.salesDate, 'ja').format('{yyyy}-{MM}-{dd}'),
            item_price: book.itemPrice,
            image_url: book.smallImageUrl,
            genre_id: book.booksGenreId,
        }
    }).then(function(data){
        $.ajax({ 
            type: 'POST',
            url: '/api/data/v1/mybook/',
            headers: { "X-CSRFToken": $.cookie("csrftoken") },
            data: {
                buy_date: $('#buy_date').val(),
                book_info: data.url,
                manager: $('#manager').val(),
                purpose: $('#purpose').val(),
                money_source: $('#money_source').val(),
            }
        });
    });

    $('#myModal').modal('hide');
}


</script>
{% endverbatim %}
{% endblock %}
