<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'dashboard' organization_slug %}">
                <i class="fa fa-info-circle"></i> <span>ダッシュボード</span>
            </a>
        </li>
        <li>
            <a href="{% url 'indices' organization_slug %}">
                <i class="fa fa-database"></i> <span>書庫を見る</span>
            </a>
        </li>
        <li>
            <a href="{% url 'shopping' organization_slug %}">
                <i class="fa fa-shopping-cart"></i> <span>書籍を追加する</span>
            </a>
        </li>
        <li>
            <a href="{% url 'organization_settings' organization_slug %}">
                <i class="fa fa-user-circle"></i> <span>組織の管理</span>
            </a>
        </li>

        <hr>
        <li>
            <a href="wishlist">
                <i class="fa fa-star"></i> <span>読みたい本リスト</span>
            </a>
        </li>
        <li>
            <a href="history">
                <i class="fa fa-history"></i> <span>読書履歴</span>
            </a>
        </li>
        <hr>
        <li>
            <a href="stats">
                <i class="fa fa-bar-chart-o"></i> <span>利用状況の確認</span>
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->
