<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a href="dashboard">
                <i class="fa fa-info-circle"></i> <span>ダッシュボード</span>
            </a>
        </li>
        <li>
            <a href="indices">
                <i class="fa fa-database"></i> <span>書籍を探す</span>
            </a>
        </li>

        <li>
            <a href="shopping">
                <i class="fa fa-shopping-cart"></i> <span>書籍を購入する</span>
            </a>
        </li>

<!--         <li>
            <a href="stats">
                <i class="fa fa-bar-chart-o"></i> <span>利用状況の確認</span>
            </a>
        </li> -->
    </ul>
</section>
<!-- /.sidebar -->
