{% verbatim %}

<script type="text/template" id="modal-template">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</script>


<script type="text/template" id="alert-template">
<div class="alert alert-{{type}} alert-dismissable">
  <i class="fa fa-{{type}}"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b>{{title}}: </b>{{body}} 
</div>

</script>


<script>
'use strict';

var modal_template = $('#modal-template').html();
var alert_hogan = Hogan.compile($('#alert-template').html());


var $xhr = function(url, params){
  return $.ajax({url:url, data:params, timeout:15000})
    .fail(function(a){
      // alert("Request failed: " + a.statusText);
      $('.content').prepend(alert_hogan.render({type:'warning', title:'Request failed', body:a.statusText}));
      $('.loading-img').remove();
    })
}

// modal起動時にスクロールバーの幅調整機能によってデザインずれる問題対応
$.fn.modal.Constructor.prototype.setScrollbar = function () {}

</script>
{% endverbatim %}
