{% verbatim %}

<script type="text/template" id="alert-template">
<div class="alert alert-{{type}} alert-dismissable">
  <i class="fa fa-{{type}}"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b>{{title}}: </b>{{body}} 
</div>

</script>


<script>
'use strict';

var alert_handlebars = Handlebars.compile($('#alert-template').html());


var $xhr = function(url, params){
  return $.ajax({url:url, data:params, timeout:15000})
    .fail(function(a){
      console.log("Request failed: " + a.statusText);
      $('.content').prepend(alert_handlebars({type:'warning', title:'Request failed', body:a.statusText}));
      $('.overlay').remove();
    })
}

</script>
{% endverbatim %}
