{% verbatim %}

<script type="text/template" id="alert-template">
<div class="alert alert-{{type}} alert-dismissable">
  <i class="fa fa-{{type}}"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b>{{title}}: </b>{{body}} 
</div>

</script>


<script>
'use strict';

var alert_hogan = Hogan.compile($('#alert-template').html());


var $xhr = function(url, params){
  return $.ajax({url:url, data:params, timeout:15000})
    .fail(function(a){
      // alert("Request failed: " + a.statusText);
      $('.content').prepend(alert_hogan.render({type:'warning', title:'Request failed', body:a.statusText}));
      $('.loading-img').remove();
    })
}

// modal起動時にスクロールバーの幅調整機能によってデザインずれる問題対応
$.fn.modal.Constructor.prototype.setScrollbar = function () {}

</script>
{% endverbatim %}
