argon2-cffi==18.1.0
bottlenose==1.1.8
cachetools==2.1.0
Django==1.11.9
django-bootstrap-form==3.4
django-csp==3.4
django-oauth-toolkit==1.1.2
django-user-accounts==2.0.3
djangorestframework==3.8.2
dj-database-url==0.4.2
dripper==1.2
mysqlclient==1.3.12
pinax-theme-bootstrap==8.0.1
psycopg2==2.7.4
python-dateutil==2.7.3
pytz==2018.4
raven==6.8.0
requests==2.18.4
sendgrid-django==4.2.0
social-auth-app-django==2.1.0
xmltodict==0.11.0
uWSGI==2.0.17
whitenoise==3.3.1
